* {
    box-sizing: border-box;
}

body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: black;
}

.sider {
    height: 100%;
    width: 10em;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgb(104, 212, 108); /* Green */
    box-shadow: 10px 10px 8px 2px #888888;
    z-index: 15;
}

.new-habit {
    height: 5em;
    width: 5em;
    margin: auto;
    margin-top: 20px;
    border: 2px solid white;
    border-radius: 50%;
    position: relative;
}
.plus {
    position: absolute;
    top: -13%;
    left: 9.25%;
    color: white;
    margin: auto;
    font-size: 5em;
}

.main-menu {
    margin-top: 2em;
    list-style-type: none;
}

.main-menu li {
    color: white;
    margin-bottom: 1em;
}
.habit-overview {
    margin-top: 20px;
    float: right;
    width: 60%;
}

.habit {
    border: 1px solid black;
    height: 6em;
    width: 100%;
    margin-bottom:10px;
    position: relative;
    box-shadow: 5px 5px 8px 2px #888888;
}

.habit-name {
    position: absolute;
    font-size: 2em;
    margin: 0 0;
    left: 5px;
    top: 20px;
}

.count {
    position: absolute;
    font-style: italic;
    font-size: 12px;
    bottom: 5px;
    left: 5px;
}

.task-completed {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: green;
    border: 1px solid black;
    color: white;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    position: absolute;
    top: 23.96%;
    right: 10px;
}

.task-completed:hover {
    background-color: rgb(104, 212, 108); /* Green */
}

/* Media Queries */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
@media (min-width: 769px) {
    .wrapper {
        width: 90%;
        margin: 0 auto;
        min-height: calc(92.5vh - 82.4px); /* Leaving room for footer */
        position: relative;
    }

    .main-footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: center;
        padding: 2em 0;
        background: #d9e4ea;
        z-index: 10;
    }

    .copyright {
        margin-left: 110px;
    }
    /* Clearfix for expanding containers to hold floats */

}