@model Journey.Models.Habit[]

@{
    ViewBag.Title = "Index";
}
<head>
    <link href="~/Content/home.css" rel="stylesheet" />
</head>

<div class="content">
    <div class="sider-element"></div>
    <div class="container">
        <div class="habit-overview">
            @foreach (var habit in Model)
            {
                <div class="habit">
                    <div class="habit-left">
                        <h5 class="habit-name">@habit.Name</h5>
                        <p class="habit-count">@habit.DayCount in a row</p>
                    </div>
                    <div class="habit-right">
                        <button class="habit-friends">
                            <img class="habit-profile-pic" src="~/Images/profile_pic.jpg">
                            <img class="habit-profile-pic" src="~/Images/profile_pic.jpg">
                        </button>
                        <button class="habit-stats"><img class="habit-button" src="~/Images/bars.svg"></button>
                        <button class="habit-complete"><img class="habit-button" src="~/Images/checkmark.svg"></button>
                    </div>
                </div>
            }
            
        </div>
    </div>
</div>