
@{
    ViewBag.Title = "Index";
}

<head>
    <link href="/content/normalize.css" rel="stylesheet" />
    <link href="/content/main.css" rel="stylesheet" />
    <title>Journey</title>
</head>

<body>
    <div class="sider">
        <div class="new-habit"><h5 class="plus"><a>+</a></h5></div>
        <ul class="main-menu">
            <li>Home</li>
            <li>Friends</li>
            <li>Your Journey</li>
        </ul>
    </div>
    <div class="wrapper">
        <div class="habit-overview clearfix">
            <div class="habit">
                <h2 class="habit-name">Go for a run</h2>
                <button class="task-completed"></button>
                <p class="count">5 in a row</p>
            </div>
            <div class="habit">
                <div class="habit-top">
                    <h2 class="habit-name">Study</h2>
                    <button class="task-completed"></button>
                </div>
                <div class="habit-bottom">
                    <p class="count">5 in a row</p>
                </div>
            </div>
            <div class="habit">
                <div class="habit-top">
                    <h2 class="habit-name">Gym</h2>
                    <button class="task-completed"></button>
                </div>
                <div class="habit-bottom">
                    <p class="count">5 in a row</p>
                </div>
            </div>
        </div>
    </div>
    <footer class="main-footer">
        <div class="footer-shadow">
            <span class="copyright">&copy;2018 Journey.</span>
        </div>
    </footer>

</body>

