.habit-overview {
    width: 100%;
}

/* Habit box styling */
.habit {
    background-color: white;
    display: flex;
    padding: 10px 10px;
    padding-right: 5px;
    width: 100%;
}

.habit-name {
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    font-size: 20px;
    font-weight: normal;
    color: grey;
}

.habit-count {
    margin: 0;
    font-size: 10px;
    font-style: italic;
    color: grey;
}

.habit-right {
    display: flex;
    margin-left: auto;
}

.habit-right button {
    padding: 5px;
    border: 1px solid rgb(221, 223, 226);
    background-color: rgb(104, 212, 108);
    margin-left: 5px;
}

.habit-friends {
    border-radius: 5px;
    align-self: flex-end;
    height: 35px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.habit-profile-pic {
    padding: 0;
    margin: 0;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 1px solid PaleGreen;
    flex:1 1 auto;
    margin: 0 3px;
}

.habit-stats {
    align-self: flex-end;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.habit-stats img {
    width: 17px;
    height: 17px;
    margin: auto;
}

.habit-complete {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.habit-complete img {
    width: 50px;
    height: 50px;
    margin: auto;
}

/* Media Queries */
@media (min-width: 769px) {
    .habit-overview {
        margin: auto;
        margin-top: 20px;
        max-width: 700px;
    }
    
    .habit {
        border: 1px solid rgb(221, 223, 226);
    }

}